<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymmanagmentsystem">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ToFinish.OngoingSessions"></activity>
        <activity android:name=".ToFinish.Receipts" />
        <activity android:name=".ToFinish.MembershipInfo" />
        <activity android:name=".ToFinish.editAccount" />
        <activity android:name=".ToFinish.Account" />
        <activity android:name=".ToFinish.LoginView" />
        <activity android:name=".ToFinish.CreateAccountView" />
        <activity android:name=".ToFinish.TrainerViewSessionsView" />
        <activity android:name=".ToFinish.GymInfo" />
        <activity android:name=".ToFinish.TrainersSessions" />
        <activity android:name=".ToFinish.MemberPage" />
        <activity android:name=".ToFinish.TrainerPage" />
        <activity android:name=".ViewControllers.MainPageView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>